body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(235, 235, 235);
}

a {
  color: #00B7FF;
}

.forms {
  width: 100%;
  height: 50%;
  margin-top: 0%;
  padding-top: 10%;
  text-align: center;
}

.input {
  width: 20%;
  margin-left: 40%;
}

.md-button {
  background-color: rgb(0, 102, 102) !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  text-transform: capitalize !important;
}

.erroForm {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 13px;
  color: red;
}

.my-table{
  width: 99%;
  height: 70%;
  border-spacing: 0;
  border-collapse: collapse;   
  
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my-table th {
  font-size: 0.8em;
  color: #808080;
  cursor: default;
}

.my-table td {
  border: 1px solid black;
  background: rgb(235, 235, 235);
  cursor: pointer;
}

.my-table td:hover {
  background: white;
}

.my-table .selected {
  background: rgb(0, 102, 102);
}
