<md-dialog aria-label="Reserva" style="width:60%">
	<form ng-cloak>
		<md-toolbar style="background-color: rgb(0, 102, 102)">
			<div class="md-toolbar-tools">
				<h2>Alteração de Reserva de Sala</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div>
				<md-input-container md-no-float class="md-block">
					<input ng-model="evento" type="text" placeholder="Nome do evento" required>
				</md-input-container>

				<md-input-container md-no-float class="md-block">
					<input ng-model="descricao" type="text" placeholder="Descrição do evento" required>
				</md-input-container>

				<p class="body" style="padding: 0px 24px 8px 24px;"> De {{ inicio +':00'}}&nbsp;a&nbsp;{{ fim +':00'}} </p>

			</div>
		</md-dialog-content>

		<p class="erroForm">{{resultado}}</p>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="alterar()"> Alterar </md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
