<md-dialog aria-label="Reserva" style="width:60%">
	<form ng-cloak>
		<md-toolbar style="background-color: rgb(0, 102, 102)">
			<div class="md-toolbar-tools">
				<h2>{{evento}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content class="info-sala">
			<div>
				<p><strong>Descrição:</strong>&nbsp{{descricao}}</p>
				<p><strong>Responsável:</strong>&nbsp{{autor}}</p>
				<p><strong>Horário:</strong>&nbsp{{inicio}}:00&nbsp-&nbsp{{fim}}:00</p>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="deletar()"> Cancelar Reserva </md-button>
			<md-button ng-click="cancel()"> Ok </md-button>
		</md-dialog-actions>
	</form>
</md-dialog>